<Card Margin="Margin.Is4.OnY">
    <CardBody>
        <CardTitle Size="5">Card title</CardTitle>
        <CardText>
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </CardText>
        <Button Color="Color.Primary">Button</Button>
    </CardBody>
</Card>

<ColorPicker @bind-Color=@MyColor />
<Button Clicked="@(()=>OnThemeColorChanged(MyColor ?? "#000000"))">Change theme</Button>

@if (todos.Any())
{
    @foreach (var todo in todos)
    {
        <Card>
            <CardBody>
                <CardTitle>
                    <Check @bind-Checked="@todo.Completed" /> @todo.Title
                </CardTitle>
            </CardBody>
        </Card>
    }
}
